<section>

    <div data-tap-disabled="true">

        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Light Reader</h1>
            <button class="button icon ion-navicon"></button>
        </ion-header-bar>
    </div>

    <ion-scroll-content class="has-header  overflow-scroll" overflow-scroll="true">
        <div class="list card">
            <div class="item">
                <h2>{ media.title }</h2>
            </div>
            <div class="item item-body">
                <center>
                    <img class="full-image" rv-src="illustration" style='height:50%;width:50%' />
                </center>
                <p>{ media.synopsis }</p>
                <p>
                    { media.lastUpdate }
                </p>
            </div>
        </div>

        <div class="list">

            <a class="item item-icon-right" rv-on-touchend="OnVolumeSelected" rv-on-click="OnVolumeSelected" rv-each-volume="media.volumeList">
                <h2 rv-text="volume.title"></h2>
                <p>{ volume.lastUpdate }</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-scroll-content>
</section>