<section>

    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Light Reader</h1>
        <button id="menu" class="button button-icon icon ion-android-more-vertical"></button>
    </ion-header-bar>

    <ion-scroll-content class="has-header  overflow-scroll" overflow-scroll="true">
        <div class="list ion-content" rv-each-source="model.sources">

            <a class="item item-thumbnail-left item-icon-right" rv-on-click="OnSourceSelected">
                <img src="http://33.media.tumblr.com/tumblr_mdjz9u9l8F1qm2pt6.png">
                <h2 rv-text="source.name"></h2>
                <p rv-text="source.description"></p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-scroll-content>
</section>