<section>

    <h1>Simple Pure CSS Drop Down Menu</h1>
    <nav id="primary_nav_wrap">
        <ul>
            <li class="current-menu-item"><a href="#">Home</a></li>
            <li>
                <a href="#">Menu 1</a>
                <ul>
                    <li><a href="#">Sub Menu 1</a></li>
                    <li><a href="#">Sub Menu 2</a></li>
                    <li><a href="#">Sub Menu 3</a></li>
                    <li>
                        <a href="#">Sub Menu 4</a>
                        <ul>
                            <li>
                                <a href="#">Deep Menu 1</a>
                                <ul>
                                    <li><a href="#">Sub Deep 1</a></li>
                                    <li><a href="#">Sub Deep 2</a></li>
                                    <li><a href="#">Sub Deep 3</a></li>
                                    <li><a href="#">Sub Deep 4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Deep Menu 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Sub Menu 5</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Menu 2</a>
                <ul>
                    <li><a href="#">Sub Menu 1</a></li>
                    <li><a href="#">Sub Menu 2</a></li>
                    <li><a href="#">Sub Menu 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Menu 3</a>
                <ul>
                    <li class="dir"><a href="#">Sub Menu 1</a></li>
                    <li class="dir">
                        <a href="#">Sub Menu 2 THIS IS SO LONG IT MIGHT CAUSE AN ISSEUE BUT MAYBE NOT?</a>
                        <ul>
                            <li><a href="#">Category 1</a></li>
                            <li><a href="#">Category 2</a></li>
                            <li><a href="#">Category 3</a></li>
                            <li><a href="#">Category 4</a></li>
                            <li><a href="#">Category 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Sub Menu 3</a></li>
                    <li><a href="#">Sub Menu 4</a></li>
                    <li><a href="#">Sub Menu 5</a></li>
                </ul>
            </li>
            <li><a href="#">Menu 4</a></li>
            <li><a href="#">Menu 5</a></li>
            <li><a href="#">Menu 6</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
<!--
    <div data-tap-disabled="true">
        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Light Reader</h1>
        </ion-header-bar>
    </div>

    <ion-scroll-content class="has-header  overflow-scroll" overflow-scroll="true">
        <div class="list ion-content" rv-each-source="model.sources">

            <a class="item item-thumbnail-left item-icon-right" rv-on-click="OnSourceSelected">
                <img src="http://33.media.tumblr.com/tumblr_mdjz9u9l8F1qm2pt6.png">
                <h2 rv-text="source.name"></h2>
                <p rv-text="source.description"></p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-scroll-content>-->
</section>