<section>
    <div data-tap-disabled="true">

        <ion-header-bar class="bar bar-header bar-dark">
            <button class="button button-icon icon ion-arrow-left-c" rv-on-click="OnBack"></button>
            <h1 class="title">Light Reader</h1>
            <button id="menu" class="button button-icon icon ion-android-more-vertical"></button>
        </ion-header-bar>
    </div>
    <ion-scroll-content class="has-header  overflow-scroll" overflow-scroll="true">
        <div class="list card">

            <div class="item">
                <h2>{ source.name }</h2>
            </div>

            <div class="item item-body">
                <center>
                    <img class="full-image" src="http://33.media.tumblr.com/tumblr_mdjz9u9l8F1qm2pt6.png" style='height:50%;width:50%' />
                </center>
                <p>{ source.description }</p>
            </div>
        </div>

        <div class="list">

            <a class="item item-icon-right" rv-on-click="OnMediaSelected" rv-each-media="source.novelList">
                <h2 rv-text="media.title"></h2>
                <p>{ media.lastUpdate }</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-scroll-content>
</section>