<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fastclick.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="mdd81" />
  <package id="hammerjs.TypeScript.DefinitelyTyped" version="0.8.1" targetFramework="mdd81" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.0.1" />
  <package id="lokijs.TypeScript.DefinitelyTyped" version="0.0.1" />
  <package id="rivets.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="mdd81" />
</packages>