<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.0.1" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.8.3" targetFramework="mdd81" />
  <package id="lokijs.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="mdd81" />
</packages>